* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  background-color: #f8f8fc;
  padding: 2rem;
}
.header a:hover,
.menu a:hover {
  color: #073a99;
}
.menu {
  padding: 0 2rem;
}
.menu__nav {
  gap: 4.8rem;
}
.nav-sale {
  position: relative;
}

.sale-numb {
  position: absolute;
  background-color: #e01111;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  top: -0.9rem;
  left: 2.1rem;
}

.title {
  font-size: 5.6rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.img-principal p {
  font-size: 1.6rem;
  color: #959799;
  margin-bottom: 2rem;
}
.info {
  margin-top: 6rem;
  gap: 1rem;
  justify-content: center;
}
.info-text {
  padding: 2rem;
  background-color: #f8f8fc;
  border-radius: 4px;
}

@media (max-width: 960px) {
  .menu__nav {
    gap: 2rem;
  }
  .sale-numb {
    font-size: 0.8rem;
    top: -0.7rem;
  }
}

@media (max-width: 760px) {
  .img-principal {
    margin-top: 3rem;
  }
  .title {
    font-size: 4.6rem;
    margin-top: 3rem;
  }
}

@media (max-width: 660px) {
  .header {
    padding: 1rem;
  }
  .header a {
    font-size: 2.1vw;
  }
  .menu {
    flex-direction: column-reverse;
    justify-content: center !important;
    gap: 2rem;
  }
  .menu__icon {
    display: none !important;
  }
  .menu__nav {
    flex-wrap: wrap;
    font-size: 2.2vw;
  }
  .img-principal {
    margin-top: 10%;
  }
  .title {
    font-size: 5vw;
    margin-top: 5%;
  }
  .img-principal p {
    font-size: 1.5rem;
  }
  .sale-numb {
    left: 1rem;
    top: -1rem;
  }
}
